#include "resource.h"
//Меню
MENU MENU
BEGIN
POPUP "File"
BEGIN
MENUITEM "Exit", IDM_EXIT
END
POPUP "Help"
BEGIN
MENUITEM "About", IDM_ABOUT
END
END
//Настройки
SETTINGS DIALOG 0, 0, 200, 130
CAPTION "About"
FONT 12, "Times New Roman"
BEGIN
GROUPBOX        "Encryption application", IDC_STATIC, 10, 15, 180, 90
LTEXT			"Developer:\nRoman Degtyarev   vk.com\id189323747\nOleg Sysoev           vk.com\id61771016\n\n\n\n\n\n©Encryption. ver. 1.0 2015/03/20", IDC_STATIC, 20, 25, 130, 75;
DEFPUSHBUTTON      "Ok", IDOK, 145, 110, 50, 15
END
//Иконка
ICONFORRUN              ICON                    "main_ico.ico"